
.root {
    -fx-font-family: "Google Sans Flex";
}

.hyperlink, .button, .text-field {
    -fx-focus-color: #999999;
    -fx-faint-focus-color: transparent;
}

.text-field {
    -fx-background-color: #F8F8F8;

    /* Supprime toutes les ombres et décalages par défaut */
    -fx-background-insets: 0;

    /* Arrondis des angles */
    -fx-background-radius: 10;
    -fx-border-radius: 10;

    /* Bordure fine et unie (supprime l'effet 3D en haut) */
    -fx-border-color: #999999;
    -fx-border-width: 1;

    /* Espace intérieur pour le texte */
    -fx-padding: 12;
}

.hyperlink {
    -fx-underline: true;
    -fx-cursor: hand;
    -fx-border-radius: 0;
    -fx-text-fill: black;
}

.button {
    -fx-background-color: #2D2D2D;
    -fx-text-fill: white;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-cursor: hand;
}
.button:focused{
    -fx-background-color: #999999;

}